@import "variables";

.eu_card {
  display: inline-block;
  border: 1px solid $blue;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  width: 100%;
  max-width: 400px;

  &-header {
    padding: 24px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: $border-bottom;
    font-weight: 400;

    &-title {
      color: white;
    }

    &--yellow {
      background-color: $yellow
    }

    &--red {
      background-color: $red
    }

    &--blue {
      background-color: $blue
    }
  }

  &-img_wrapper {
    position: relative;
  }

  &-image {
    display: block;
    img {
      object-fit: contain;
      border-bottom: $border-bottom;
    }
    box-sizing: content-box;
  }

  &-author {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    padding: 3px;
    max-height: 100%;
    display: flex;
  }

  &-author_bio {
    margin-left: 8px;
  }

  &-author_profile_img {
    align-self: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.9);
  }

  &-body {
    padding: 20px;
  }

  &-footer {
    padding: 0 20px 20px 20px;
  }
}