@font-face {
  font-family: "Cabin VF Beta";
  font-style: normal;
  src: url("../fonts/CabinVFBeta.ttf");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Cabin VF Beta";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/CabinVFBeta-Italic.ttf");
  font-display: swap;
}