@font-face {
  font-family: "Cabin VF Beta";
  font-weight: 400;
  font-style: normal;
  src: url("CabinVFBeta.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cabin VF Beta";
  font-weight: 400;
  font-style: italic;
  src: url("CabinVFBeta-Italic.ttf") format("ttf");
  font-display: swap;
}