$yellow: #ffcc00;
$red: #ae1c27;
$red-lighter: #ae1c27cf;
$blue: #2551a8;
$white: #fff;

$footer-background-color: $blue;

$family-sans-serif: 'Cabin VF Beta', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$border-bottom: 1px solid #010080;